<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:sca="http://www.springframework.org/schema/sca"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://www.springframework.org/schema/sca http://www.springframework.org/schema/sca/spring-sca.xsd">


	<bean id="jobStart" class="com.sohu.dc.jobkeeper.JobStart">
	</bean>

	<bean id="jobStartDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="jobStart" />
		<property name="targetMethod" value="jobStart" />
	</bean>
	<bean id="jobStartTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobStartDetail" />
		<property name="cronExpression" value="0 1 * * * ?" />
	</bean>
	
	<bean id="jobStartByMinDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="jobStart" />
		<property name="targetMethod" value="jobStartMin" />
	</bean>
	<bean id="jobStartByMinTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobStartByMinDetail" />
		<property name="cronExpression" value="0 0/5 * * * ?" />
	</bean>
	
	
	<bean id="jobStartByDayDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="jobStart" />
		<property name="targetMethod" value="checkJobs" />
	</bean>
	<bean id="jobStartByDayTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobStartByDayDetail" />
		<property name="cronExpression" value="0 40 * * * ?" />
	</bean>
	
	<bean autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="jobStartTrigger" />
				<ref local="jobStartByDayTrigger" />
				<ref local="jobStartByMinTrigger" />
			</list>
		</property>
	</bean>

</beans>